$
PROJECT 'BMKG1' '001'
SET 0 MAXERR 2  NAUTICAL
MODE DYNAMIC TWODimensional
COORDinates SPHE CCM

&& KEYWORD for number of nested SWAN grids.
NSGRIDS 1

&& KEYWORDS TO CREATE AND READ COMPUTATIONAL GRID &&
CGRID CURVILINEAR 2037 1127  EXC 9.999000e+003 9.999000e+003 CIRCLE 36 0.04 0.52 28
READGRID COORDINATES 1 'swan_coord_v255.grd' 3 0 0 FREE

&& KEYWORDS TO CREATE AND READ BATHYMETRY GRID &&
INPGRID BOTTOM CURVILINEAR 0 0 2037 1127 EXC 9.999000e+003
READINP BOTTOM 1 'swan_bathy_v255.bot' 3 0 FREE

$******************** INPUT FIELDS  *********************************************

&& KEYWORD TO CREATE CURRENT GRID &&
INPGRID CURRENT CURVILINEAR 0 0 2037 1124 EXC 9.999000e+003 &
       NONSTATIONARY 19950101.1200 1 DAY 19950102.1200

&& KEYWORD TO CREATE WATER LEVEL GRID &&
INPGRID WLEV CURVILINEAR 0 0 2037 1124 EXC 9.999000e+003 &
       NONSTATIONARY 19950101.1200 1 DAY 19950102.1200

&& KEYWORD TO CREATE BOTTOM FRIC GRID &&
INPGRID FRIC CURVILINEAR 0 0 2037 1124 EXC 9.999000e+003 &
       NONSTATIONARY 19950101.1200 1 DAY 19950102.1200

&& Use for coupled-model iteration post hotstart &
INPGRID WIND CURVILINEAR 0 0 2037 1124 EXC 9.999000e+003 &
       NONSTATIONARY 19950101.1200 1 DAY 19950102.1200

$*********Boundary and Initial Conditions*********

BOUNd SHAPespec JONswap PEAK DEGRees

$ Eastern Boundary
BOUNDSPEC SEGMENT XY 144.98  15.000 144.98  14.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_1.txt' 1
BOUNDSPEC SEGMENT XY 144.98  14.500 144.98  14.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_2.txt' 1
BOUNDSPEC SEGMENT XY 144.98  14.000 144.98  13.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_3.txt' 1
BOUNDSPEC SEGMENT XY 144.98  13.500 144.98  13.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_4.txt' 1
BOUNDSPEC SEGMENT XY 144.98  13.000 144.98  12.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_5.txt' 1
BOUNDSPEC SEGMENT XY 144.98  12.500 144.98  12.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_6.txt' 1
BOUNDSPEC SEGMENT XY 144.98  12.000 144.98  11.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_7.txt' 1
BOUNDSPEC SEGMENT XY 144.98  11.500 144.98  11.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_8.txt' 1
BOUNDSPEC SEGMENT XY 144.98  11.000 144.98  10.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_9.txt' 1
BOUNDSPEC SEGMENT XY 144.98  10.500 144.98  10.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_10.txt' 1
BOUNDSPEC SEGMENT XY 144.98  10.000 144.98   9.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_11.txt' 1
BOUNDSPEC SEGMENT XY 144.98   9.500 144.98   9.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_12.txt' 1
BOUNDSPEC SEGMENT XY 144.98   9.000 144.98   8.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_13.txt' 1
BOUNDSPEC SEGMENT XY 144.98   8.500 144.98   8.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_14.txt' 1
BOUNDSPEC SEGMENT XY 144.98   8.000 144.98   7.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_15.txt' 1
BOUNDSPEC SEGMENT XY 144.98   7.500 144.98   7.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_16.txt' 1
BOUNDSPEC SEGMENT XY 144.98   7.000 144.98   6.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_17.txt' 1
BOUNDSPEC SEGMENT XY 144.98   6.500 144.98   6.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_18.txt' 1
BOUNDSPEC SEGMENT XY 144.98   6.000 144.98   5.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_19.txt' 1
BOUNDSPEC SEGMENT XY 144.98   5.500 144.98   5.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_20.txt' 1
BOUNDSPEC SEGMENT XY 144.98   5.000 144.98   4.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_21.txt' 1
BOUNDSPEC SEGMENT XY 144.98   4.500 144.98   4.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_22.txt' 1
BOUNDSPEC SEGMENT XY 144.98   4.000 144.98   3.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_23.txt' 1
BOUNDSPEC SEGMENT XY 144.98   3.500 144.98   3.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_24.txt' 1
BOUNDSPEC SEGMENT XY 144.98   3.000 144.98   2.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_25.txt' 1
BOUNDSPEC SEGMENT XY 144.98   2.500 144.98   2.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_26.txt' 1
BOUNDSPEC SEGMENT XY 144.98   2.000 144.98   1.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_27.txt' 1
BOUNDSPEC SEGMENT XY 144.98   1.500 144.98   1.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_28.txt' 1
BOUNDSPEC SEGMENT XY 144.98   1.000 144.98   0.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_29.txt' 1
BOUNDSPEC SEGMENT XY 144.98   0.500 144.98   0.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_30.txt' 1
BOUNDSPEC SEGMENT XY 144.98   0.000 144.98  -0.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_31.txt' 1
BOUNDSPEC SEGMENT XY 144.98  -0.500 144.98  -1.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_32.txt' 1
BOUNDSPEC SEGMENT XY 144.98  -1.000 144.98  -1.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_33.txt' 1
BOUNDSPEC SEGMENT XY 144.98  -1.500 144.98  -2.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_34.txt' 1
BOUNDSPEC SEGMENT XY 144.98  -2.000 144.98  -2.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_35.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -2.500 144.98  -3.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_36.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -3.000 144.98  -3.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_37.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -3.500 144.98  -4.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_38.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -4.000 144.98  -4.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_39.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -4.500 144.98  -5.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_40.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -5.000 144.98  -5.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_41.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -5.500 144.98  -6.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_42.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -6.000 144.98  -6.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_43.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -6.500 144.98  -7.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_44.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -7.000 144.98  -7.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_45.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -7.500 144.98  -8.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_46.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -8.000 144.98  -8.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_47.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -8.500 144.98  -9.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_48.txt' 1
$BOUNDSPEC SEGMENT XY 144.98  -9.000 144.98  -9.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_49.txt' 1
BOUNDSPEC SEGMENT XY 144.98  -9.500 144.98 -10.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_50.txt' 1
BOUNDSPEC SEGMENT XY 144.98 -10.000 144.98 -10.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_51.txt' 1
BOUNDSPEC SEGMENT XY 144.98 -10.500 144.98 -11.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_52.txt' 1
BOUNDSPEC SEGMENT XY 144.98 -11.000 144.98 -11.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_53.txt' 1
BOUNDSPEC SEGMENT XY 144.98 -11.500 144.98 -12.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_54.txt' 1
BOUNDSPEC SEGMENT XY 144.98 -12.000 144.98 -12.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_55.txt' 1
BOUNDSPEC SEGMENT XY 144.98 -12.500 144.98 -13.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_56.txt' 1
BOUNDSPEC SEGMENT XY 144.98 -13.000 144.98 -13.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_57.txt' 1
$BOUNDSPEC SEGMENT XY 144.98 -13.500 144.98 -14.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_58.txt' 1
$BOUNDSPEC SEGMENT XY 144.98 -14.000 144.98 -14.500  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_59.txt' 1
$BOUNDSPEC SEGMENT XY 144.98 -14.500 144.98 -15.000  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCEast_60.txt' 1

$ Northern Boundary
BOUNDSPEC SEGMENT XY  90.020 15.03  90.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_1.txt' 1
BOUNDSPEC SEGMENT XY  90.500 15.03  91.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_2.txt' 1
BOUNDSPEC SEGMENT XY  91.000 15.03  91.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_3.txt' 1
BOUNDSPEC SEGMENT XY  91.500 15.03  92.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_4.txt' 1
BOUNDSPEC SEGMENT XY  92.000 15.03  92.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_5.txt' 1
BOUNDSPEC SEGMENT XY  92.500 15.03  93.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_6.txt' 1
BOUNDSPEC SEGMENT XY  93.000 15.03  93.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_7.txt' 1
BOUNDSPEC SEGMENT XY  93.500 15.03  94.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_8.txt' 1
BOUNDSPEC SEGMENT XY  94.000 15.03  94.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_9.txt' 1
BOUNDSPEC SEGMENT XY  94.500 15.03  95.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_10.txt' 1
BOUNDSPEC SEGMENT XY  95.000 15.03  95.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_11.txt' 1
BOUNDSPEC SEGMENT XY  95.500 15.03  96.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_12.txt' 1
$BOUNDSPEC SEGMENT XY  96.000 15.03  96.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_13.txt' 1
$BOUNDSPEC SEGMENT XY  96.500 15.03  97.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_14.txt' 1
$BOUNDSPEC SEGMENT XY  97.000 15.03  97.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_15.txt' 1
$BOUNDSPEC SEGMENT XY  97.500 15.03  98.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_16.txt' 1
$BOUNDSPEC SEGMENT XY  98.000 15.03  98.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_17.txt' 1
$BOUNDSPEC SEGMENT XY  98.500 15.03  99.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_18.txt' 1
$BOUNDSPEC SEGMENT XY  99.000 15.03  99.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_19.txt' 1
$BOUNDSPEC SEGMENT XY  99.500 15.03 100.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_20.txt' 1
$BOUNDSPEC SEGMENT XY 100.000 15.03 100.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_21.txt' 1
$BOUNDSPEC SEGMENT XY 100.500 15.03 101.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_22.txt' 1
$BOUNDSPEC SEGMENT XY 101.000 15.03 101.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_23.txt' 1
$BOUNDSPEC SEGMENT XY 101.500 15.03 102.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_24.txt' 1
$BOUNDSPEC SEGMENT XY 102.000 15.03 102.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_25.txt' 1
$BOUNDSPEC SEGMENT XY 102.500 15.03 103.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_26.txt' 1
$BOUNDSPEC SEGMENT XY 103.000 15.03 103.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_27.txt' 1
$BOUNDSPEC SEGMENT XY 103.500 15.03 104.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_28.txt' 1
$BOUNDSPEC SEGMENT XY 104.000 15.03 104.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_29.txt' 1
$BOUNDSPEC SEGMENT XY 104.500 15.03 105.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_30.txt' 1
$BOUNDSPEC SEGMENT XY 105.000 15.03 105.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_31.txt' 1
$BOUNDSPEC SEGMENT XY 105.500 15.03 106.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_32.txt' 1
$BOUNDSPEC SEGMENT XY 106.000 15.03 106.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_33.txt' 1
$BOUNDSPEC SEGMENT XY 106.500 15.03 107.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_34.txt' 1
$BOUNDSPEC SEGMENT XY 107.000 15.03 107.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_35.txt' 1
$BOUNDSPEC SEGMENT XY 107.500 15.03 108.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_36.txt' 1
$BOUNDSPEC SEGMENT XY 108.000 15.03 108.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_37.txt' 1
$BOUNDSPEC SEGMENT XY 108.500 15.03 109.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_38.txt' 1
$BOUNDSPEC SEGMENT XY 109.000 15.03 109.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_39.txt' 1
$BOUNDSPEC SEGMENT XY 109.500 15.03 110.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_40.txt' 1
$BOUNDSPEC SEGMENT XY 110.000 15.03 110.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_41.txt' 1
$BOUNDSPEC SEGMENT XY 110.500 15.03 111.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_42.txt' 1
BOUNDSPEC SEGMENT XY 111.000 15.03 111.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_43.txt' 1
BOUNDSPEC SEGMENT XY 111.500 15.03 112.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_44.txt' 1
BOUNDSPEC SEGMENT XY 112.000 15.03 112.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_45.txt' 1
BOUNDSPEC SEGMENT XY 112.500 15.03 113.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_46.txt' 1
BOUNDSPEC SEGMENT XY 113.000 15.03 113.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_47.txt' 1
BOUNDSPEC SEGMENT XY 113.500 15.03 114.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_48.txt' 1
BOUNDSPEC SEGMENT XY 114.000 15.03 114.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_49.txt' 1
BOUNDSPEC SEGMENT XY 114.500 15.03 115.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_50.txt' 1
BOUNDSPEC SEGMENT XY 115.000 15.03 115.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_51.txt' 1
BOUNDSPEC SEGMENT XY 115.500 15.03 116.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_52.txt' 1
BOUNDSPEC SEGMENT XY 116.000 15.03 116.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_53.txt' 1
BOUNDSPEC SEGMENT XY 116.500 15.03 117.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_54.txt' 1
BOUNDSPEC SEGMENT XY 117.000 15.03 117.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_55.txt' 1
BOUNDSPEC SEGMENT XY 117.500 15.03 118.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_56.txt' 1
BOUNDSPEC SEGMENT XY 118.000 15.03 118.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_57.txt' 1
BOUNDSPEC SEGMENT XY 118.500 15.03 119.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_58.txt' 1
$BOUNDSPEC SEGMENT XY 119.000 15.03 119.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_59.txt' 1
$BOUNDSPEC SEGMENT XY 119.500 15.03 120.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_60.txt' 1
$BOUNDSPEC SEGMENT XY 120.000 15.03 120.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_61.txt' 1
$BOUNDSPEC SEGMENT XY 120.500 15.03 121.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_62.txt' 1
$BOUNDSPEC SEGMENT XY 121.000 15.03 121.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_63.txt' 1
$BOUNDSPEC SEGMENT XY 121.500 15.03 122.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_64.txt' 1
$BOUNDSPEC SEGMENT XY 122.000 15.03 122.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_65.txt' 1
$BOUNDSPEC SEGMENT XY 122.500 15.03 123.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_66.txt' 1
$BOUNDSPEC SEGMENT XY 123.000 15.03 123.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_67.txt' 1
$BOUNDSPEC SEGMENT XY 123.500 15.03 124.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_68.txt' 1
BOUNDSPEC SEGMENT XY 124.000 15.03 124.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_69.txt' 1
BOUNDSPEC SEGMENT XY 124.500 15.03 125.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_70.txt' 1
BOUNDSPEC SEGMENT XY 125.000 15.03 125.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_71.txt' 1
BOUNDSPEC SEGMENT XY 125.500 15.03 126.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_72.txt' 1
BOUNDSPEC SEGMENT XY 126.000 15.03 126.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_73.txt' 1
BOUNDSPEC SEGMENT XY 126.500 15.03 127.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_74.txt' 1
BOUNDSPEC SEGMENT XY 127.000 15.03 127.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_75.txt' 1
BOUNDSPEC SEGMENT XY 127.500 15.03 128.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_76.txt' 1
BOUNDSPEC SEGMENT XY 128.000 15.03 128.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_77.txt' 1
BOUNDSPEC SEGMENT XY 128.500 15.03 129.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_78.txt' 1
BOUNDSPEC SEGMENT XY 129.000 15.03 129.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_79.txt' 1
BOUNDSPEC SEGMENT XY 129.500 15.03 130.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_80.txt' 1
BOUNDSPEC SEGMENT XY 130.000 15.03 130.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_81.txt' 1
BOUNDSPEC SEGMENT XY 130.500 15.03 131.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_82.txt' 1
BOUNDSPEC SEGMENT XY 131.000 15.03 131.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_83.txt' 1
BOUNDSPEC SEGMENT XY 131.500 15.03 132.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_84.txt' 1
BOUNDSPEC SEGMENT XY 132.000 15.03 132.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_85.txt' 1
BOUNDSPEC SEGMENT XY 132.500 15.03 133.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_86.txt' 1
BOUNDSPEC SEGMENT XY 133.000 15.03 133.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_87.txt' 1
BOUNDSPEC SEGMENT XY 133.500 15.03 134.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_88.txt' 1
BOUNDSPEC SEGMENT XY 134.000 15.03 134.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_89.txt' 1
BOUNDSPEC SEGMENT XY 134.500 15.03 135.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_90.txt' 1
BOUNDSPEC SEGMENT XY 135.000 15.03 135.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_91.txt' 1
BOUNDSPEC SEGMENT XY 135.500 15.03 136.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_92.txt' 1
BOUNDSPEC SEGMENT XY 136.000 15.03 136.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_93.txt' 1
BOUNDSPEC SEGMENT XY 136.500 15.03 137.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_94.txt' 1
BOUNDSPEC SEGMENT XY 137.000 15.03 137.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_95.txt' 1
BOUNDSPEC SEGMENT XY 137.500 15.03 138.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_96.txt' 1
BOUNDSPEC SEGMENT XY 138.000 15.03 138.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_97.txt' 1
BOUNDSPEC SEGMENT XY 138.500 15.03 139.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_98.txt' 1
BOUNDSPEC SEGMENT XY 139.000 15.03 139.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_99.txt' 1
BOUNDSPEC SEGMENT XY 139.500 15.03 140.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_100.txt' 1
BOUNDSPEC SEGMENT XY 140.000 15.03 140.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_101.txt' 1
BOUNDSPEC SEGMENT XY 140.500 15.03 141.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_102.txt' 1
BOUNDSPEC SEGMENT XY 141.000 15.03 141.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_103.txt' 1
BOUNDSPEC SEGMENT XY 141.500 15.03 142.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_104.txt' 1
BOUNDSPEC SEGMENT XY 142.000 15.03 142.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_105.txt' 1
BOUNDSPEC SEGMENT XY 142.500 15.03 143.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_106.txt' 1
BOUNDSPEC SEGMENT XY 143.000 15.03 143.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_107.txt' 1
BOUNDSPEC SEGMENT XY 143.500 15.03 144.000  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_108.txt' 1
BOUNDSPEC SEGMENT XY 144.000 15.03 144.500  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_109.txt' 1
BOUNDSPEC SEGMENT XY 144.500 15.03 144.980  15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCNorth_110.txt' 1

$ Western Boundary
BOUNDSPEC SEGMENT XY 90.02  15.000 90.02  14.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_1.txt' 1
BOUNDSPEC SEGMENT XY 90.02  14.500 90.02  14.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_2.txt' 1
BOUNDSPEC SEGMENT XY 90.02  14.000 90.02  13.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_3.txt' 1
BOUNDSPEC SEGMENT XY 90.02  13.500 90.02  13.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_4.txt' 1
BOUNDSPEC SEGMENT XY 90.02  13.000 90.02  12.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_5.txt' 1
BOUNDSPEC SEGMENT XY 90.02  12.500 90.02  12.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_6.txt' 1
BOUNDSPEC SEGMENT XY 90.02  12.000 90.02  11.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_7.txt' 1
BOUNDSPEC SEGMENT XY 90.02  11.500 90.02  11.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_8.txt' 1
BOUNDSPEC SEGMENT XY 90.02  11.000 90.02  10.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_9.txt' 1
BOUNDSPEC SEGMENT XY 90.02  10.500 90.02  10.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_10.txt' 1
BOUNDSPEC SEGMENT XY 90.02  10.000 90.02   9.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_11.txt' 1
BOUNDSPEC SEGMENT XY 90.02   9.500 90.02   9.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_12.txt' 1
BOUNDSPEC SEGMENT XY 90.02   9.000 90.02   8.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_13.txt' 1
BOUNDSPEC SEGMENT XY 90.02   8.500 90.02   8.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_14.txt' 1
BOUNDSPEC SEGMENT XY 90.02   8.000 90.02   7.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_15.txt' 1
BOUNDSPEC SEGMENT XY 90.02   7.500 90.02   7.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_16.txt' 1
BOUNDSPEC SEGMENT XY 90.02   7.000 90.02   6.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_17.txt' 1
BOUNDSPEC SEGMENT XY 90.02   6.500 90.02   6.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_18.txt' 1
BOUNDSPEC SEGMENT XY 90.02   6.000 90.02   5.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_19.txt' 1
BOUNDSPEC SEGMENT XY 90.02   5.500 90.02   5.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_20.txt' 1
BOUNDSPEC SEGMENT XY 90.02   5.000 90.02   4.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_21.txt' 1
BOUNDSPEC SEGMENT XY 90.02   4.500 90.02   4.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_22.txt' 1
BOUNDSPEC SEGMENT XY 90.02   4.000 90.02   3.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_23.txt' 1
BOUNDSPEC SEGMENT XY 90.02   3.500 90.02   3.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_24.txt' 1
BOUNDSPEC SEGMENT XY 90.02   3.000 90.02   2.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_25.txt' 1
BOUNDSPEC SEGMENT XY 90.02   2.500 90.02   2.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_26.txt' 1
BOUNDSPEC SEGMENT XY 90.02   2.000 90.02   1.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_27.txt' 1
BOUNDSPEC SEGMENT XY 90.02   1.500 90.02   1.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_28.txt' 1
BOUNDSPEC SEGMENT XY 90.02   1.000 90.02   0.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_29.txt' 1
BOUNDSPEC SEGMENT XY 90.02   0.500 90.02   0.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_30.txt' 1
BOUNDSPEC SEGMENT XY 90.02   0.000 90.02  -0.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_31.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -0.500 90.02  -1.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_32.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -1.000 90.02  -1.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_33.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -1.500 90.02  -2.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_34.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -2.000 90.02  -2.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_35.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -2.500 90.02  -3.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_36.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -3.000 90.02  -3.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_37.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -3.500 90.02  -4.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_38.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -4.000 90.02  -4.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_39.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -4.500 90.02  -5.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_40.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -5.000 90.02  -5.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_41.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -5.500 90.02  -6.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_42.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -6.000 90.02  -6.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_43.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -6.500 90.02  -7.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_44.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -7.000 90.02  -7.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_45.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -7.500 90.02  -8.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_46.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -8.000 90.02  -8.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_47.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -8.500 90.02  -9.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_48.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -9.000 90.02  -9.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_49.txt' 1
BOUNDSPEC SEGMENT XY 90.02  -9.500 90.02 -10.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_50.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -10.000 90.02 -10.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_51.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -10.500 90.02 -11.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_52.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -11.000 90.02 -11.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_53.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -11.500 90.02 -12.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_54.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -12.000 90.02 -12.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_55.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -12.500 90.02 -13.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_56.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -13.000 90.02 -13.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_57.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -13.500 90.02 -14.000 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_58.txt' 1
BOUNDSPEC SEGMENT XY 90.02 -14.000 90.02 -14.500 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_59.txt' 1
$BOUNDSPEC SEGMENT XY 90.02 -14.500 90.02 -19.980 CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCWest_60.txt' 1

$ Southern Boundary
BOUNDSPEC SEGMENT XY  90.020 -15.03  90.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_1.txt' 1
BOUNDSPEC SEGMENT XY  90.500 -15.03  91.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_2.txt' 1
BOUNDSPEC SEGMENT XY  91.000 -15.03  91.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_3.txt' 1
BOUNDSPEC SEGMENT XY  91.500 -15.03  92.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_4.txt' 1
BOUNDSPEC SEGMENT XY  92.000 -15.03  92.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_5.txt' 1
BOUNDSPEC SEGMENT XY  92.500 -15.03  93.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_6.txt' 1
BOUNDSPEC SEGMENT XY  93.000 -15.03  93.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_7.txt' 1
BOUNDSPEC SEGMENT XY  93.500 -15.03  94.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_8.txt' 1
BOUNDSPEC SEGMENT XY  94.000 -15.03  94.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_9.txt' 1
BOUNDSPEC SEGMENT XY  94.500 -15.03  95.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_10.txt' 1
BOUNDSPEC SEGMENT XY  95.000 -15.03  95.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_11.txt' 1
BOUNDSPEC SEGMENT XY  95.500 -15.03  96.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_12.txt' 1
BOUNDSPEC SEGMENT XY  96.000 -15.03  96.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_13.txt' 1
BOUNDSPEC SEGMENT XY  96.500 -15.03  97.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_14.txt' 1
BOUNDSPEC SEGMENT XY  97.000 -15.03  97.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_15.txt' 1
BOUNDSPEC SEGMENT XY  97.500 -15.03  98.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_16.txt' 1
BOUNDSPEC SEGMENT XY  98.000 -15.03  98.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_17.txt' 1
BOUNDSPEC SEGMENT XY  98.500 -15.03  99.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_18.txt' 1
BOUNDSPEC SEGMENT XY  99.000 -15.03  99.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_19.txt' 1
BOUNDSPEC SEGMENT XY  99.500 -15.03 100.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_20.txt' 1
BOUNDSPEC SEGMENT XY 100.000 -15.03 100.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_21.txt' 1
BOUNDSPEC SEGMENT XY 100.500 -15.03 101.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_22.txt' 1
BOUNDSPEC SEGMENT XY 101.000 -15.03 101.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_23.txt' 1
BOUNDSPEC SEGMENT XY 101.500 -15.03 102.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_24.txt' 1
BOUNDSPEC SEGMENT XY 102.000 -15.03 102.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_25.txt' 1
BOUNDSPEC SEGMENT XY 102.500 -15.03 103.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_26.txt' 1
BOUNDSPEC SEGMENT XY 103.000 -15.03 103.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_27.txt' 1
BOUNDSPEC SEGMENT XY 103.500 -15.03 104.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_28.txt' 1
BOUNDSPEC SEGMENT XY 104.000 -15.03 104.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_29.txt' 1
BOUNDSPEC SEGMENT XY 104.500 -15.03 105.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_30.txt' 1
BOUNDSPEC SEGMENT XY 105.000 -15.03 105.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_31.txt' 1
BOUNDSPEC SEGMENT XY 105.500 -15.03 106.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_32.txt' 1
BOUNDSPEC SEGMENT XY 106.000 -15.03 106.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_33.txt' 1
BOUNDSPEC SEGMENT XY 106.500 -15.03 107.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_34.txt' 1
BOUNDSPEC SEGMENT XY 107.000 -15.03 107.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_35.txt' 1
BOUNDSPEC SEGMENT XY 107.500 -15.03 108.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_36.txt' 1
BOUNDSPEC SEGMENT XY 108.000 -15.03 108.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_37.txt' 1
BOUNDSPEC SEGMENT XY 108.500 -15.03 109.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_38.txt' 1
BOUNDSPEC SEGMENT XY 109.000 -15.03 109.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_39.txt' 1
BOUNDSPEC SEGMENT XY 109.500 -15.03 110.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_40.txt' 1
BOUNDSPEC SEGMENT XY 110.000 -15.03 110.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_41.txt' 1
BOUNDSPEC SEGMENT XY 110.500 -15.03 111.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_42.txt' 1
BOUNDSPEC SEGMENT XY 111.000 -15.03 111.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_43.txt' 1
BOUNDSPEC SEGMENT XY 111.500 -15.03 112.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_44.txt' 1
BOUNDSPEC SEGMENT XY 112.000 -15.03 112.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_45.txt' 1
BOUNDSPEC SEGMENT XY 112.500 -15.03 113.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_46.txt' 1
BOUNDSPEC SEGMENT XY 113.000 -15.03 113.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_47.txt' 1
BOUNDSPEC SEGMENT XY 113.500 -15.03 114.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_48.txt' 1
BOUNDSPEC SEGMENT XY 114.000 -15.03 114.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_49.txt' 1
BOUNDSPEC SEGMENT XY 114.500 -15.03 115.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_50.txt' 1
BOUNDSPEC SEGMENT XY 115.000 -15.03 115.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_51.txt' 1
BOUNDSPEC SEGMENT XY 115.500 -15.03 116.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_52.txt' 1
BOUNDSPEC SEGMENT XY 116.000 -15.03 116.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_53.txt' 1
BOUNDSPEC SEGMENT XY 116.500 -15.03 117.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_54.txt' 1
BOUNDSPEC SEGMENT XY 117.000 -15.03 117.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_55.txt' 1
BOUNDSPEC SEGMENT XY 117.500 -15.03 118.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_56.txt' 1
BOUNDSPEC SEGMENT XY 118.000 -15.03 118.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_57.txt' 1
BOUNDSPEC SEGMENT XY 118.500 -15.03 119.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_58.txt' 1
BOUNDSPEC SEGMENT XY 119.000 -15.03 119.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_59.txt' 1
BOUNDSPEC SEGMENT XY 119.500 -15.03 120.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_60.txt' 1
BOUNDSPEC SEGMENT XY 120.000 -15.03 120.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_61.txt' 1
BOUNDSPEC SEGMENT XY 120.500 -15.03 121.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_62.txt' 1
BOUNDSPEC SEGMENT XY 121.000 -15.03 121.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_63.txt' 1
BOUNDSPEC SEGMENT XY 121.500 -15.03 122.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_64.txt' 1
BOUNDSPEC SEGMENT XY 122.000 -15.03 122.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_65.txt' 1
BOUNDSPEC SEGMENT XY 122.500 -15.03 123.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_66.txt' 1
$BOUNDSPEC SEGMENT XY 123.000 -15.03 123.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_67.txt' 1
$BOUNDSPEC SEGMENT XY 123.500 -15.03 124.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_68.txt' 1
$BOUNDSPEC SEGMENT XY 124.000 -15.03 124.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_69.txt' 1
$BOUNDSPEC SEGMENT XY 124.500 -15.03 125.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_70.txt' 1
$BOUNDSPEC SEGMENT XY 125.000 -15.03 125.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_71.txt' 1
$BOUNDSPEC SEGMENT XY 125.500 -15.03 126.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_72.txt' 1
$BOUNDSPEC SEGMENT XY 126.000 -15.03 126.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_73.txt' 1
$BOUNDSPEC SEGMENT XY 126.500 -15.03 127.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_74.txt' 1
$BOUNDSPEC SEGMENT XY 127.000 -15.03 127.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_75.txt' 1
$BOUNDSPEC SEGMENT XY 127.500 -15.03 128.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_76.txt' 1
$BOUNDSPEC SEGMENT XY 128.000 -15.03 128.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_77.txt' 1
$BOUNDSPEC SEGMENT XY 128.500 -15.03 129.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_78.txt' 1
$BOUNDSPEC SEGMENT XY 129.000 -15.03 129.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_79.txt' 1
$BOUNDSPEC SEGMENT XY 129.500 -15.03 130.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_80.txt' 1
$BOUNDSPEC SEGMENT XY 130.000 -15.03 130.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_81.txt' 1
$BOUNDSPEC SEGMENT XY 130.500 -15.03 131.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_82.txt' 1
$BOUNDSPEC SEGMENT XY 131.000 -15.03 131.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_83.txt' 1
$BOUNDSPEC SEGMENT XY 131.500 -15.03 132.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_84.txt' 1
$BOUNDSPEC SEGMENT XY 132.000 -15.03 132.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_85.txt' 1
$BOUNDSPEC SEGMENT XY 132.500 -15.03 133.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_86.txt' 1
$BOUNDSPEC SEGMENT XY 133.000 -15.03 133.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_87.txt' 1
$BOUNDSPEC SEGMENT XY 133.500 -15.03 134.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_88.txt' 1
$BOUNDSPEC SEGMENT XY 134.000 -15.03 134.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_89.txt' 1
$BOUNDSPEC SEGMENT XY 134.500 -15.03 135.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_90.txt' 1
$BOUNDSPEC SEGMENT XY 135.000 -15.03 135.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_91.txt' 1
$BOUNDSPEC SEGMENT XY 135.500 -15.03 136.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_92.txt' 1
$BOUNDSPEC SEGMENT XY 136.000 -15.03 136.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_93.txt' 1
$BOUNDSPEC SEGMENT XY 136.500 -15.03 137.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_94.txt' 1
$BOUNDSPEC SEGMENT XY 137.000 -15.03 137.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_95.txt' 1
$BOUNDSPEC SEGMENT XY 137.500 -15.03 138.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_96.txt' 1
$BOUNDSPEC SEGMENT XY 138.000 -15.03 138.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_97.txt' 1
BOUNDSPEC SEGMENT XY 138.500 -15.03 139.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_98.txt' 1
BOUNDSPEC SEGMENT XY 139.000 -15.03 139.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_99.txt' 1
BOUNDSPEC SEGMENT XY 139.500 -15.03 140.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_100.txt' 1
$BOUNDSPEC SEGMENT XY 140.000 -15.03 140.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_101.txt' 1
$BOUNDSPEC SEGMENT XY 140.500 -15.03 141.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_102.txt' 1
$BOUNDSPEC SEGMENT XY 141.000 -15.03 141.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_103.txt' 1
$BOUNDSPEC SEGMENT XY 141.500 -15.03 142.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_104.txt' 1
$BOUNDSPEC SEGMENT XY 142.000 -15.03 142.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_105.txt' 1
$BOUNDSPEC SEGMENT XY 142.500 -15.03 143.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_106.txt' 1
$BOUNDSPEC SEGMENT XY 143.000 -15.03 143.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_107.txt' 1
$BOUNDSPEC SEGMENT XY 143.500 -15.03 144.000  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_108.txt' 1
$BOUNDSPEC SEGMENT XY 144.000 -15.03 144.500  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_109.txt' 1
$BOUNDSPEC SEGMENT XY 144.500 -15.03 144.980  -15.03  CONSTANT  FILE 'SCRATCH_PREPROCESS/swan_bcs/era5_today/BCSouth_110.txt' 1


$Physics
$**************************************************************************************

GEN3  JANSSEN  3.5  0.9

BREaking CONstant gamma .78
TRIad
FRICTION

PROP BSBT
NUM ACCUR NONSTAT MXITNS=3

COMPUTE NONSTATION today.120000 10 MIN tomorrow.120000

RESTART 'swan_rst.tomorrow.120000.dat' FREE 24 HR

STOP
